body {
	background-image:url("../images/fond.jpg");
	background-repeat:repeat;
	font-size:10px;
}

iframe[name],div[style] {
	display:none;
	visibility:hidden;
}

/*div#top_banner {
	background-image:url("../images/bandeau_haut.jpg");
	background-repeat:repeat-x;
	margin-top:-8px;
	margin-left:-7px;
	margin-right:-8px;
	padding-top:105px;
	padding-left:0;
}*/

a img {
	border:none;
}

h3 {
	color:#FFFFE0;
}

div.erreur {
	margin-left:2%;
	color:red;
	border:2px dotted red;
	text-align:center;
	width:55%;
	font-weight:bold;
	margin-bottom:30px;
}

div.erreur pre:before {
	content:"Erreur : ";
}

div.log_result {
	border:1px solid black;
	width:55%;
	margin-left:2%;
	padding-left:10px;
	background-color:#FFFFE0;
}

fieldset#ajout_AA {
	color:#FFFFE0;
	font-weight:bold;
}

table#tous_les_trolls, fieldset#ajout_AA {
	width:63%;
	text-align:left;
}

table#tous_les_trolls th {
	color:#FFFFE0;
	padding-bottom:15px;
	font-weight:bold;
	text-align:center;
}

table#tous_les_trolls tr.odd, table#tous_les_trolls tr.even {
	height:30px;
}

table#tous_les_trolls tr td.fond {
	background-color:#F8E3C8;
}

table#tous_les_trolls tr a {
	color:black;
	text-decoration:none;
}

table#tous_les_trolls tr:hover td.fond, table#tous_les_trolls tr:hover td a {
	color:#F8E3C8;
}

table#tous_les_trolls tr:hover td.fond {
	background-color:#4F382A;
}

table#tous_les_trolls tr td.numero, table#tous_les_trolls tr td.race,
table#tous_les_trolls tr td.niveau {
	text-align:center;	
}

table#tous_les_trolls tr td.numero {
	font-weight:bold;
}

fieldset#ajout_AA textarea {
	width:100%;
	height:300px;
}

div#menu {
	position:fixed;
	right:-4px;
	top:5px;
	width:160px;
	height:210px;
	background-image:url("../images/menu.jpg");
	background-repeat:no-repeat;
}

div#menu ul {
	padding-top:60px;
	padding-left:60px;
}

div#menu li {
	list-style-type:square;
}

div#menu li a {
	text-decoration:none;
	font-weight:bold;
	color:#4F382A;
}

div#menu li a:hover {
	color:#E7A557;
}

table.cadre {
	border-collapse:collapse;
}

table#fiche_troll {
	width:35%;
	right:1%;
	position:fixed;
	top:220px;
}

th.coin_haut_gauche, td.coin_bas_gauche, th.coin_haut_droit, td.coin_bas_droit, th.bandeau_haut_droit {
	background-repeat:no-repeat;
}

th.coin_haut_gauche, td.bandeau_gauche, td.coin_bas_gauche {
	padding-left:26px;
}

td.bandeau_gauche, td.coin_bas_gauche {
	background-position:top right;
}

th.coin_haut_droit, td.bandeau_droit, td.coin_bas_droit {
	padding-left:35px;
}

td.coin_bas_gauche, td.bandeau_bas, td.coin_bas_droit {
	padding-top:23px;
}

th.coin_haut_gauche, th.bandeau_haut_gauche, th.bandeau_haut_droit, th.coin_haut_droit {
	padding-top:46px;
}

th.coin_haut_droit {
	background-position:bottom left;
}

th.coin_haut_gauche, th.bandeau_haut_gauche {
	background-position:bottom right;
}

th.coin_haut_gauche {
	background-image:url("../images/table_coin_haut_gauche.jpg");
}

td.coin_bas_gauche {
	background-image:url("../images/table_coin_bas_gauche.jpg");
}

th.coin_haut_droit {
	background-image:url("../images/table_coin_haut_droit.jpg");
}

td.coin_bas_droit {
	background-image:url("../images/table_coin_bas_droit.jpg");
}

th.bandeau_haut_gauche, td.bandeau_bas {
	background-repeat:repeat-x;
}

th.bandeau_haut_gauche {
	background-image:url("../images/table_bandeau_haut_gauche.jpg");
}

th.bandeau_haut_droit {
	background-image:url("../images/table_bandeau_haut_droit.jpg");
	background-position:bottom right;
	width:75px;
	margin:0;
	padding:0;
}

td.bandeau_bas {
	background-image:url("../images/table_bandeau_bas.jpg");
}

td.bandeau_gauche, td.bandeau_droit {
	background-repeat:repeat-y;
}

td.bandeau_gauche {
	background-image:url("../images/table_bandeau_gauche.jpg");
}

td.bandeau_droit {
	background-image:url("../images/table_bandeau_droit.jpg");
}

td.fond {
	background-color:#F8E3C8;
}

table#fiche_troll ul {
	padding-left:2px;
}

table#fiche_troll li {
	list-style-type:none;
}

table#fiche_troll ul li ul li {
	list-style-type:disc;
	margin-left:20px;
}