body {
	background-image:url("../images/fond.jpg");
	background-repeat:repeat;
}

a img {
	border:none;
}

h3 {
	color:#FFFFE0;
}

div.erreur {
	margin-left:2%;
	color:red;
	border:2px dotted red;
	text-align:center;
	width:55%;
	font-size:1.2em;
	font-weight:bold;
	margin-bottom:30px;
}

div.erreur pre:before {
	content:"Erreur : ";
}

div.log_result {
	border:1px solid black;
	width:55%;
	margin-left:2%;
	padding-left:10px;
	background-color:#FFFFE0;
}

fieldset#ajout_AA {
	color:#FFFFE0;
	font-weight:bold;
}


table#tous_les_trolls, fieldset#ajout_AA {
	width:50%;
	margin-left:1%;
	border:2px #7B68EE solid;
	border-collapse:collapse;
	font-size:0.8em;
	text-align:left;
}

table#tous_les_trolls th {
	background-color:#7B68EE;
	color:#FFFFE0;
	font-weight:bold;
	text-align:center;
}

table#tous_les_trolls tr {
	border:2px #7B68EE solid;
}

table#tous_les_trolls tr.odd {
	background-color:#FFE4E1;
}

table#tous_les_trolls tr.even {
	background-color:#D8BFD8;
}

table#tous_les_trolls tr a {
	color:black;
	text-decoration:none;
}

table#tous_les_trolls tr.odd:hover, table#tous_les_trolls tr.even:hover {
	color:#FFE4E1;
	background-color:#7B68EE;
}

table#tous_les_trolls tr:hover a {
	color:#FFE4E1;
}

table#tous_les_trolls tr td.numero, table#tous_les_trolls tr td.race,
table#tous_les_trolls tr td.niveau {
	text-align:center;	
}

table#tous_les_trolls tr td.numero {
	font-weight:bold;
}

fieldset#ajout_AA textarea {
	width:100%;
	height:300px;
}

ul#menu {
	padding:30px;
	right:1%;
	position:fixed;
	top:2%;
	border:2px #7B68EE solid;
	background-color:#D8BFD8;
	-moz-border-radius:10px;
}

ul#menu li {
	list-style-type:square;
	color:#7B68EE;
}

ul#menu li a {
	text-decoration:none;
	color:#7B68EE;
}

ul#menu li a:hover {
	color:#FFFFE0;
}

table.cadre {
	font-size:0.6em;
	width:35%;
	right:1%;
	position:fixed;
	top:25%;
	border-collapse:collapse;
}

td.coin_haut_gauche, td.coin_bas_gauche, td.coin_haut_droit, td.coin_bas_droit, td.bandeau_haut_droit {
	background-repeat:no-repeat;
}

td.coin_haut_gauche, td.bandeau_gauche, td.coin_bas_gauche {
	padding-left:26px;
}

td.bandeau_gauche, td.coin_bas_gauche {
	background-position:top right;
}

td.coin_haut_droit, td.bandeau_droit, td.coin_bas_droit {
	padding-left:35px;
}

td.coin_bas_gauche, td.bandeau_bas, td.coin_bas_droit {
	padding-top:23px;
}

td.coin_haut_gauche, td.bandeau_haut_gauche, td.bandeau_haut_droit, td.coin_haut_droit {
	padding-top:46px;
}

td.coin_haut_droit {
	background-position:bottom left;
}

td.coin_haut_gauche, td.bandeau_haut_gauche {
	background-position:bottom right;
}

td.coin_haut_gauche {
	background-image:url("../images/table_coin_haut_gauche.jpg");
}

td.coin_bas_gauche {
	background-image:url("../images/table_coin_bas_gauche.jpg");
}

td.coin_haut_droit {
	background-image:url("../images/table_coin_haut_droit.jpg");
}

td.coin_bas_droit {
	background-image:url("../images/table_coin_bas_droit.jpg");
}

td.bandeau_haut_gauche, td.bandeau_bas {
	background-repeat:repeat-x;
}

td.bandeau_haut_gauche {
	background-image:url("../images/table_bandeau_haut_gauche.jpg");
}

td.bandeau_haut_droit {
	background-image:url("../images/table_bandeau_haut_droit.jpg");
	background-position:bottom right;
	width:75px;
	margin:0;
	padding:0;
}

td.bandeau_bas {
	background-image:url("../images/table_bandeau_bas.jpg");
}

td.bandeau_gauche, td.bandeau_droit {
	background-repeat:repeat-y;
}

td.bandeau_gauche {
	background-image:url("../images/table_bandeau_gauche.jpg");
}

td.bandeau_droit {
	background-image:url("../images/table_bandeau_droit.jpg");
}

td.fond {
	background-color:#F8E3C8;
}

form#fiche_troll ul {
	padding-left:2px;
}

form#fiche_troll li {
	list-style-type:none;
}

form#fiche_troll ul li ul li {
	list-style-type:disc;
	margin-left:20px;
}